<section class="footer">
    <div class="container mt-5 text-center">
        <div class="row">
            <div class="col">
                <h1>Footer</h1>
            </div>
        </div>
    </div>
</section>