<section class="header-section">
    <nav class="navbar navbar-expand-lg navbar-light nav-bg">
        <div class="container">
          <a class="navbar-brand" href="#">Education</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav m-auto">
              <a class="nav-link active link" aria-current="page" routerLink=""  routerLinkActive="active">Home</a>
              <a class="nav-link active link" aria-current="page" routerLink="/login"  routerLinkActive="active">Login</a>
              <a class="nav-link link" routerLink="/admin"   routerLinkActive="active">Admin</a>
              <a class="nav-link  link"  routerLink="/student"   routerLinkActive="active">Student</a>
            </div>  
            <button class="btn btn-primary" (click)="logout()">LogOut</button>
          </div>
        </div>
      </nav>
</section>
