<!-- <section class="Login-page mt-5">
    <div class="container">
        <div class="row ">
            <div class="col-md-5 col-12 text-center">
                <div class="card ">
                    <div class="card-header">
                        <p>Login</p>
                    </div>
                    <form [formGroup]="loginform" (ngSubmit)="login()"  class="Login-form p-5 text-start">
                        <div>
                        <label for="username">UserName:</label>
                        <input type="text" placeholder="username" class="form-control"   formControlName="username" name="username" id="username"
                        [ngClass]="{'invalid': invalid && !loginform.controls['username'].valid}"
                        >
                        </div>
                        <div>
                            <label for="Password">Password:</label>
                            <input type="password" placeholder="Password" class="form-control"  formControlName="password" name="password" id="password"
                            [ngClass]="{'invalid':invalid && !loginform.controls['password'].valid}"
                            >
                        </div> 
                        <div class="mt-2 text-center">
                            <button class="btn btn-primary" type="submit" routerLink="admin" routerLinkActive="active">Login</button>   
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6  text-center py-2">
            <div class="card">
                <div class="card-head">
                    <h1>User data</h1>
                </div>
                <div class="card-body">
                    <ul class="list-group text-start">
                        @if(user){
                            <li class="list-group-item">First name:{{user.firstName}} lastname:{{user.lastName}}</li>
                            <li class="list-group-item">Email ID:{{user.email}} </li>
                            <li class="list-group-item">Mobile NO:{{user.mobile}} </li>
                            <li class="list-group-item">Adress:{{user.address.billingAddress.address}},{{user.address.billingAddress.city}}</li>
                        }
                    </ul>
                </div>
                <div class="text-center py-3">
                    <button class="btn btn-primary" (click)="getuser()">Get user</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center py-2">
            <div class="card ">
                <div class="card-head">
                    <h1>client Data</h1>
                </div>
                <div class="card-body">
                    <ol class="list-group list-group-numbered">
                        @if(client){
                            <li class="list-group-item"> client name:{{client.title}}</li>
                        }
                      </ol>
                </div><div class="text-center py-3">
                    <button class="btn btn-primary" (click)="getclient()">Get client</button>
                </div>
            </div>
         </div>
</div>
