/* .loging-button{
    text-decoration: none;
    color: black;
    padding: 15px;
    border: 1px solid black;
    background-color: aqua;
} */

/* .card{
    height: fit-content !important;
} */
/* @media screen and (max-width:426px) {
    .card{
        margin-top: 50px;
    }
} */