<section class="Login-page mt-5">
    <div class="container">
        <div class="row ">
            <div class="col-md-5 col-12 text-center">
                <div class="card ">
                    <div class="card-header">
                        <p>Login</p>
                    </div>
                    <form [formGroup]="loginform" (ngSubmit)="login()"  class="Login-form p-5 text-start">
                        <div>
                        <label for="username">UserName:</label>
                        <input type="text" placeholder="username" class="form-control"   formControlName="username" name="username" id="username" 
                        [ngClass]="{'invalid': invalid && !loginform.controls['username'].valid}"
                        >
                        </div>
                        <div>
                            <label for="Password">Password:</label>
                            <input type="password" placeholder="Password" class="form-control"  formControlName="password" name="password" id="password"
                            [ngClass]="{'invalid':invalid && !loginform.controls['password'].valid}"
                            >
                        </div> 
                        <div class="mt-2 text-center">
                            <button class="btn btn-primary"  type="submit" >Login</button>   
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> 
